<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="${topic.title}"></title>

    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
    <header id="header" class="header" >
        <h1><a href="/">Форум</a></h1>
    </header>

    <div class="container">

        <div class="topicPreview">
            <div class="topicTitle" >
                <b th:text="${topic.title}"></b>
            </div>
            <div class="topicAuthor" th:text="'Создан пользователем ' + ${topic.author}"></div>
            <div class="topicText" th:text="${topic.text}"></div>
        </div>

        <hr>

        <div class="center label">Оставить комментарий</div>
        <form action="#" th:action="@{{id}/reply(id=${topic.id})}" th:object="${newReply}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="author">Ник</label>
                        </td>
                        <td>
                            <input type="text" id="author" name="author" required th:value="${newReply.author}" placeholder="Ник">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="text">Текст</label>
                        </td>
                        <td>
                            <textarea id="text" name="text" required th:value="${newReply.text}" placeholder="Текст"></textarea>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="submit">Создать</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <hr>

        <div class="topicList" >
            <div class="center label">Список комментариев</div>
            <div class="topicComponent" th:each="reply: ${topic.replies}">
                <div class="topicPreview">

                    <div class="topicAuthor" th:text="'Создан пользователем ' + ${reply.author}"></div>
                    <div class="topicText" th:text="${reply.text}"></div>
                </div>
                <div class="topicLinks">
                    <div class="topicLink">
                        <a th:href="@{/replies/delete/{id}(id=${reply.id})}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>